<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/insights.css') }}">
    <title>{{identifier[0]|upper}}{{identifier[1:]}}</title>
</head>

<body>
    <div id="myPlot" style="width:100%;max-width:700px"></div>
    <input type="text" name="" id="counts" value="{{counts}}" hidden>
    <input type="text" name="" id="countries" value="{{countries}}" hidden>
</body>
<script>

    const insights_url = {{ url_for('insights.insights', identifier = link['identifier']) | tojson }}

    fetch(insights_url)
        .then((res) => res.json())
        .then((insights) => {
            xValues = insights.countries;
            yValues = insights.counts.map(Number);

            console.log(yValues);
            console.log(xValues);

            console.log(typeof yValues)
            console.log(typeof xValues)

            const data = [
                {
                    x: xValues,
                    y: yValues,
                    type: "bar",
                    orientation: "v",
                    marker: { color: "rgb(11,24,43)" },
                },
            ];

            const layout = {
                title: "Clicks by Country",
                yaxis: {
                    title: {
                        text: "Number of Clicks",
                    },
                },
                barcornerradius: 10,
                bargap: 0.5,
            };

            Plotly.newPlot("myPlot", data, layout);
        });

</script>

</html>