<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/insights.css') }}">
    <title>{{identifier[0]|upper}}{{identifier[1:]}}</title>
</head>

<body>
    <div id="myPlot" style="width:100%;max-width:700px"></div>
    <input type="text" name="" id="counts" value="{{counts}}" hidden>
    <input type="text" name="" id="countries" value="{{countries}}" hidden>
</body>
<script>
    const xValues = document.getElementById("countries").value.split(',')
    const yValues = document.getElementById("counts").value.split(',').map(Number)
    const barColors = ["red", "green", "blue", "orange", "brown"];

    const data = [{
        x: xValues,
        y: yValues,
        type: "bar",
        orientation: "v",
        marker: { color: "rgb(11,24,43)" }
    }];

    const layout = {
        title: "Clicks by Country",
        xaxis: {
            title: {
                text: 'Number of Clicks'
            }
        }, barcornerradius: 10,
        bargap: 0.5
    };

    Plotly.newPlot("myPlot", data, layout)
</script>

</html>