<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{identifier}}</title>
</head>

<body>
    <canvas id="myChart" style="width:100%; max-width: 500px"></canvas>
    <input type="text" name="" id="counts" value="{{counts}}" hidden>
    <input type="text" name="" id="countries" value="{{countries}}" hidden>
</body>
<script>
    const xValues = document.getElementById("countries").value.split(',')
    let y = document.getElementById("counts").value
    let z = y.split(',').map(Number)
    const yValues = z
    const barColors = ["red", "green", "blue", "orange", "brown"];
    console.log(typeof yValues)
    console.log(y)
    console.log(z)
    console.log(yValues)
    console.log(xValues)

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: ""
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }

    });
</script>

</html>