<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Nunito|Cabin|Quicksand">
    <title>Login</title>
</head>

<body>
    {% include 'nav.html' %}
    <h3><span>Log <span style="color: #FFFFFF;">In</span></span></h3>
    {% for message in get_flashed_messages() %}
    <p style="text-align: center; width: max-content; align-self: center;">{{message}}</p>
    {% endfor %}
    <div id="container">
        <form method="post">
            <input type="text" name="email" id="email" autocomplete="off" required placeholder="Email">
            <input type="password" name="password" id="password" required placeholder="Password">
            <button type="submit"> Submit </button>
        </form>
        <!-- <a href="/forgotpassword">Forgot Password</a> -->
    </div>
</body>